*.pyc
*.asv
*.m~
Equipment_Drivers/__pycache__
Utilities/__pycache__

# Squid array amplifier settings #
Instruments/squidarray_params.json

# Ipython notebooks #
*.ipynb

# Emacs autosaves #
*~
\#*\#
.#*
Utilities/setup/RS-BTCCMRPPMS.txt
Utilities/setup/Hemlock.txt
