*.pyc
*.asv
*.m~
Equipment_Drivers/__pycache__
Utilities/__pycache__
Utilities/test.csv
Utilities/.test.txt
*.pyc
Procedures/__pycache__/planefit.cpython-35.pyc
*.pyc

# Squid array amplifier settings #
Instruments/squidarray_params.json

# Ipython notebooks #
*.ipynb

# Emacs autosaves #
*~
\#*\#
.#*
